.root{
    display: inline-block;
}
.profile{
    display: flex;
    padding: 10px 0;
    align-items: center;
}
.username{
    margin-left: 20px;
}
.btm{
    display: flex;
    margin: 20px 0;
    justify-content: center;
}
.btm p{
    margin-top: 2px;
    margin-left: 2px;
}